{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Municípios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/fonts/fontawesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/municipio.css' %}">
    <link rel="stylesheet" href="{% static 'css/receitas_orcamentarias.css' %}">
    <script src="{% static 'js/municipios.js' %}"></script>
</head>
<body>


{#    menu     #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand titulo" href="/">
            Fiscaliza Cidadão API
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


    </nav>


    <div class="container">

        <h2>Introdução</h2>

        <p>As consultas por municípios podem ser realizadas de duas formas:

            <ul>
                <li>
                    <b>Por nome: </b> nessa opção, pode-se passar o nome completo do município, ou parte dele. É importante destacar que a requisição não aceita espaços, dessa forma, caso o nome do município contenha mais de uma palavra, deve-se inserir um <b>underline</b> entre as palavras, para a API reconhecer o espaço existente. Por exemplo, para buscar a cidade de Princesa Isabel, deverá ser escrito <b>Princesa_Isabel</b>.
                </li>
            </ul>

            <ul>
                <li>
                    <b>Por código: </b> a busca por código requer o conhecimento prévio do código do município, dessa forma, para facilitar o acesso foi padronizado o código do município com o código definido pelo IBGE.
                </li>
            </ul>

        </p>

        <h2>Caracteres Especiais</h2>

        <p>As requisições na API não suportam a passagem de caracteres especiais como acentos e o cedilha, por esse motivo, tornou-se necessário a padronização de identificadores para que a API reconheça esse tipo de caractere. Na tabela abaixo, estão os simbolos que devem ser substituidos pelos caracteres especiais, bem como um exemplo de como funciona esse processo.</p>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">CARACTERE</th>
              <th scope="col">SIMBOLO</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>ã</td>
                <td>__tila__</td>
            </tr>
            <tr>
                <td>õ</td>
                <td>__tilo__</td>
            </tr>
            <tr>
                <td>â</td>
                <td>__circunflexoa__</td>
            </tr>
            <tr>
                <td>ê</td>
                <td>__circunflexoe__</td>
            </tr>
            <tr>
                <td>ô</td>
                <td>__circunflexoo__</td>
            </tr>
            <tr>
                <td>á</td>
                <td>__agudoa__</td>
            </tr>
            <tr>
                <td>é</td>
                <td>__agudoe__</td>
            </tr>
            <tr>
                <td>í</td>
                <td>__agudoi__</td>
            </tr>
            <tr>
                <td>ó</td>
                <td>__agudoo__</td>
            </tr>
            <tr>
                <td>ú</td>
                <td>__agudou__</td>
            </tr>
            <tr>
                <td>ç</td>
                <td>__cedilha__</td>
            </tr>

          </tbody>
        </table>

        <p><b>EXEMPLO:</b> Para buscar o município de São Paulo, deve-se enviar a palavra S__tila__o_Paulo.</p>

        <h2>Busca Por Nome</h2>


        <p><b>Requisição:</b> <span class="link">http://op.repsys.com.br/api/municipio/<span class="parametro">Princesa_Isabel</span></span></p>

        <p>
            <b>Resposta:</b>

            <span class="codigo">
                <h4 class="space1">[</h4>

                    <h4 class="space2">{</h4>
                        <h4 class="space3">"codigo": 2512309, </h4>
                        <h4 class="space3">"nome": "Princesa Isabel", </h4>
                        <h4 class="space3">"uf": "PB", </h4>
                        <h4 class="space3">"regiao": "Nordeste"</h4>
                        <h4 class="space3">]</h4>
                    <h4 class="space2">}</h4>

                <h4 class="space1">]</h4>
            </span>
        </p>


        <h2>Busca Por Código</h2>


        <p><b>Requisição:</b> <span class="link">http://op.repsys.com.br/api/municipio/<span class="parametro">2512309</span></span></p>

        <p>
            <b>Resposta:</b>

            <span class="codigo">
                <h4 class="space1">[</h4>

                    <h4 class="space2">{</h4>
                        <h4 class="space3">"codigo": 2512309, </h4>
                        <h4 class="space3">"nome": "Princesa Isabel", </h4>
                        <h4 class="space3">"uf": "PB", </h4>
                        <h4 class="space3">"regiao": "Nordeste"</h4>
                        <h4 class="space3">]</h4>
                    <h4 class="space2">}</h4>

                <h4 class="space1">]</h4>
            </span>
        </p>

        <div class="margem_grande">

        </div>

    </div>

{#    rodapé    #}

    <footer class="bg-dark">

        <div class="contato">
            <br>
            <h5>CONTATO</h5>
            <h6>E-mail: diogosousa36@gmail.com</h6>
            <h6>Linked in: <a href="https://www.linkedin.com/in/diogo-sousa-47164493/">Diogo Sousa</a> </h6>

        </div>

        <div class="ajuda">


        </div>

        <div class="legenda">Copyleft @2019 - Diogo Sousa</div>
    </footer>





</body>
</html>